<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/new">Add a new user</a>
    <% for(let onePortfolio of allPortfolio){%>
        <h1>******************</h1>

        <h2>
            Mr/Ms <%= onePortfolio.user %> have a capital of: <%=onePortfolio.capital%> and stocks:<%=
                        onePortfolio.stock %>
        </h2>

        <a href="/show/<%=onePortfolio._id%>">details</a>
        <a href="/edit/<%=onePortfolio._id%>">EDIT</a>
        <a href="/delete/<%=onePortfolio._id%>">DELETE</a>
        <% } %>

</body>

</html>