<% layout('layouts/boilerplate') %>
    <!-- <img src="https://images.unsplash.com/photo-1524673450801-b5aa9b621b76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" -->
    <!-- alt=""> -->

    <h1>Welcome <%= onePortfolio.user %>
    </h1>

    <h2>
        Portfolio Value: <%=value%>
            <h2>Assets</h2>
            </div>

            <table class="table table-primary table-striped">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Buy Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">P/L</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <% var i=0; %>

                        <% for(let asset of onePortfolio.asset){%>
                            <% i++ %>
                                <tr>
                                    <th scope="row">
                                        <%= i %>
                                    </th>
                                    <td>
                                        <%= asset.name%>
                                    </td>
                                    <td>
                                        <%= asset.price%>
                                    </td>
                                    <td>
                                        <%= asset.quantity%>
                                    </td>
                                    <td>
                                        <%= asset.cprice%>
                                    </td>
                                    <td>
                                        <%= asset.assetPL%>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-success dropdown-toggle btn-sm" href="#" role="button"
                                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="/asset/edit/<%=asset._id%>"">Edit</a></li>
                                      <li><a class=" dropdown-item" href="/asset/delete/<%=asset._id%>">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>



                </tbody>
            </table>